.cc-profile-nav a:hover {
  color: var(--accent-color);
}

.cc-profile-nav .active {
  color: var(--accent-color) !important;
}

.cc-profile-dropdown a:active,
.cc-profile-dropdown .active {
  background-color: var(--accent-color) !important;
  color: white !important;
}
