.cc-review-item a {
  text-decoration: none;
  color: black;
}

.cc-review-item .cc-like-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.cc-review-item .cc-like-btn:hover {
  color: var(--accent-color);
}
